/* Load the Matrka Serif font */
@font-face {
    font-family: "Matrka Serif";
    src: url(MatrkaSerif-Regular.ttf);
}
@font-face {
    font-family: "Matrka Serif";
    src: url(MatrkaSerif-Bold.ttf);
    font-weight:bold;
}
@font-face {
    font-family: "Matrka Serif";
    src: url(MatrkaSerif-Italic.ttf);
    font-style:italic;
}
@font-face {
    font-family: "Murty Sanskrit";
    src: url(Murty-Sanskrit-1.00.otf);
}
@font-face {
    font-family: "Printers Ornaments";
    src: url(printorn.ttf);
}