/*  This CSS stylesheet is meant to accompany the
    sarit XSLT stylesheets. */

/* GENERAL */
* {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
   /* font-family: 'arial rounded mt', arial, helvetica, sans-serif; */
}
a {
  text-decoration:none;
  color:#4A6CA1;
}
a:hover {
  color:#5176B0;
}
* {
  box-sizing: border-box;
}
.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}
/* project-specific styles (inscriptions) */
body {
  margin:0px;
}
/* the selector panel */
#topbar {
  text-align:center;
  background:#31486B;
  color:#EFF8FF;
  overflow:auto;
  font-size:12px;
  vertical-align:text-bottom;
}
#topbar img {
  padding:0;
  margin:0 auto;
}
#topbar ul {
  padding:15px 15px;
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
  margin: 0 auto;
  text-align:center;
}
#topbar li {
  display:inline-block;
  padding:2px;  
}
#topbar label {
  font-weight:bold;
  text-align:left;
  display:block;
  padding:3px;
}
#topbar .styled-select {
  overflow:hidden;
  background: url('../images/drop-down-arrow.png') no-repeat right #EFF8FF;
}
#topbar #authorselector .styled-select {
  width:100px;
}
#topbar #workselector .styled-select {
  width:200px;
}
#topbar #editionselector .styled-select {
  width:300px;
}
#topbar .styled-input {
  width:200px;
  overflow:hidden;
  background:#EFF8FF;
}
/* for the autocomplete */
.ui-autocomplete {
    list-style: none;
    padding:4px;
    maring:4px;
    background:#EFF8FF !important;
    color:#31486B !important;
}
.ui-autocomplete .ui-state-focus {
    background:#31486B !important;
    color:#EFF8FF !important;
}	
#topbar .styled-input-button {
  width:100px;
  overflow:hidden;
  background:#EFF8FF;
}
#topbar .styled-select select, 
#topbar .styled-input input , 
#topbar .styled-input-button input  {
  font-size:15px;
  width:320px;
  padding:2px 35px 2px 4px !important;
  display:inline-block;
  background:transparent;
  border: 0;
  border-radius: 0;
  -webkit-appearance:none;
}
select option {
  background:#EFF8FF;
  color:#31486B;
}
#topbar input[type=button] {
  width:100px;
  display:inline-block;
}
/* the division that contains the text as a whole */
.version {
  overflow:hidden;
  background:#EFF8FF;
  margin:10px auto;
  width:95%;
  -webkit-box-shadow: 0px 15px 37px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 15px 37px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 15px 37px -4px rgba(0,0,0,0.75);
}
.version .textheader {
  height:50px;
  background: #31486B; 
  background: -webkit-linear-gradient(#31486B, #3C5882); 
  background: -o-linear-gradient(#31486B, #3C5882); 
  background: -moz-linear-gradient(#31486B, #3C5882);
  background: linear-gradient(#31486B, #3C5882);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(250, 250, 250, .2);
  color:#EFF8FF;
  overflow:auto;
  font-weight:bold;
  vertical-align:middle;
  line-height:50px;
}
.version .textheader .heading {
  float:left;
  padding:0 10px;
  font-size:16px;
}
.version h2 {
  margin:0px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.version .textheader .prevSelect {
  width:80px;
  height:50px;
  background: url('../images/leftarrow.png') no-repeat left #31486B;
  padding:0 8px 8px 45px;
  border-right: 1px solid rgba(0, 0, 0, .2);
  float:left;
  transition: box-shadow .25s ease-in-out;
}
.version .textheader .nextSelect {
  text-align:right;
  width:80px;
  height:50px;
  font-size:16px;
  background: url('../images/rightarrow.png') no-repeat right #31486B;
  padding:0 45px 8px 8px;
  border-left: 1px solid rgba(0, 0, 0, .2);
  float:right;
  transition: box-shadow .25s ease-in-out;
} 
.version .textheader .prevSelect:not(.unavailable):hover,
.version .textheader .nextSelect:not(.unavailable):hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.version .textheader .prevSelect a, .version .textheader .nextSelect a {
  font-weight:bold;
  font-size:15px;
}
.version .textheader .unavailable {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.version .resultcontainer {
  display:table;
  width:100%;
}
.version .result {
  display:table-cell;
}
.version .sidebar {
  margin:0;
  padding:0;
  display:table-cell;
  width:250px;
  background:#31486B;
}
.version .sidebar h3,
.version .sidebar .ui-accordion-header, 
.version .sidebar .ui-accordion-content {
  margin:0;
  padding:5px 10px;
  color:#EFF8FF;
  background: #31486B; 
  background: -webkit-linear-gradient(left top, #31486B, #4D71A8); 
  background: -o-linear-gradient(bottom right, #31486B, #4D71A8); 
  background: -moz-linear-gradient(bottom right, #31486B, #4D71A8);
  background: linear-gradient(to bottom right, #31486B, #4D71A8); 
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(250, 250, 250, .2);
}
.version .sidebar .ui-accordion-content {
  padding:0;
}
.version .sidebar .ui-accordion-header, 
.version .sidebar h3 a {
  font-size:18px;
  font-weight:bold;
  color:#EFF8FF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.version .sidebar ul li {
  width:100%;
  margin:0;
  padding:5px 10px;
  font-size:13px;
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(250, 250, 250, .2);
}
.ui-state-focus { outline: none; }
.version .sidebar .ui-accordion-content a {
  color:#EFF8FF;
}
.version .sidebar h3 {
  transition: box-shadow .25s ease-in-out;
}
.version .sidebar h3:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.version .clear {
  clear:both;
}
.sidebar h3 {
  padding:0;
}
.sidebar ul {
  list-style-type:none;
  padding-left:20px;
}
/* the divisions that contain each individual text */
.text {
  padding:10px 20px;
  font-size:12pt;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
      word-wrap: break-word;
  transition: all 0.3s ease;
}
/* the headers for each text */
.text h3 {
  margin-top:0px;
  margin-bottom:8px;
}
.text .translation h2, .text .edition h2, .text .notes h2 {
  text-transform:uppercase;
  color:rgb(50,50,50);
  font-size:80%;
  margin-bottom:5px;
  margin-left:-10px;
}
.text .translation h3 {
  font-size:90%;
}
.translation, .edition, .notes {
  display:block;
  clear:both;
  margin-bottom:20px;
  padding-left:10px;
}
.close { 
  font-size:90%;
  float:right;
  background:#DDDDDD;
  border-radius:12px;
  padding:5px;
  font-weight:bold;
}
.prevSelect, .nextSelect { font-size:90%; }
/* from sarit-base.xsl */
.page {
  text-indent:0;
  clear:both;
  margin:0;
  display:block;
  float:right;
  font-size:10pt;
  background:#eeeeee;
  border-radius:5px;
  margin-right:20px;
  padding:5px;
}
.lineno {
  margin:0;
  text-indent:0;
  float:right;
  clear:both;
  display:block;
  font-size:10pt;
  padding-right:20px;
  color:gray;
}
p {
  text-indent:0px;
  margin-bottom:10px;
}
/* Formats line-groups (verses):
      These are inline so that following
      <ref> elements can be inline with the
      last line of a verse. */
div.lg {
  display:inline;
}
/* Format individual lines as block elements */
div.lg span.l {
  display:block;
  margin-left:30px;
}
div.lg span.l+div.lg span.l:last-child {
  display:inline-block;
}
div.lg span.l
/* Add space after pāda-break (<lb type="pada"/>) */
span.quarter:after {
  content: "\A\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0" !important;
  white-space:pre;
}
span.verse_offset {
  content: "\00a0";
  width:180px;
  display:inline-block;
}
.head, .trailer {
  clear:both;
  display:block;
  text-align:center;
  padding-top:20px;
}
div.body > span.head, div.body > span.trailer {
  font-size:200%;
}
div.toplevel > span.head {
  font-size:150%;
}

/* from sarit-drama.xsl */
div.sp {
  display:block;
}
span.speaker {
  display:inline;
  font-weight:700;
}
span.stage {
  display:block;
  text-align:center;
}
div.sp span.stage {
  display:inline;
}

/* from sarit-inline.xsl */
.sa-Latn {
  font-style:italic;
}
.name {
  color:#5493ff;
  text-decoration: none;
  border-bottom: 1px dotted #5493ff;
}
.app .nav {
  display:block;
  text-align:right;
  padding:10px;
  font-size:8pt;
}
.app .nav a {
  border-bottom:none;
}
/* from sarit-note.xsl */
div.note-content {
  float:left;
  display:none;
}
a.note-marker {
  font-size:12pt;
}
/* from sarit-quotations.xsl */
div.base-text {
  font-size:120%;
  margin-bottom:5px;
}
div.quote-block {
  display:block;
  text-indent:0px;
  margin:5px 5px 0px 30px;
  padding:5px;
  border-left: 3px solid #eeeeee;
}
span.quote-inline {
  display:inline;
}
.lemma, .lemma:visited, .lemma:active  {
  font-weight:bold;
  color:#5493ff;
  border-style:none !important;
}
.quote-block+.reference {
  display:block;
  margin:0px 5px 5px 30px;
  padding:0px 0px 0px 20em;
  border-left: 3px solid #eeeeee;
  border-style:none;
}
/* from sarit-bibl.xsl */
div.bibentry {
  margin-bottom:10px;
  font-size:12pt;
}
div.bibentry a {
  font-weight: bold;
}
/* from sarit-person.xsl */
div.personentry {
  padding-left:25px;
  font-size:12pt;
}
div.personentry h5 {
  margin-left:-25px;
  margin-bottom:5px;
}
/* from sarit-epidoc.xsl */
section.accordion {
  background-color:#444;
  width:100%;
}
section.accordion input {
  display:none;
}
section.accordion label {
  display:block;
  padding: 8px 0px 8px 50px;
  font-weight:bold;
  color:#eee;
}
section.accordion label:hover {
  color:#fff;
}
section.accordion article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition:
    height 0.3s ease-in-out,
    box-shadow 0.6s linear;
}
section.accordion div#map {
  height:300px;
}
section.accordion input:checked ~ article {
  transition:
    height 0.5s ease-in-out,
    box-shadow 0.1s linear;
  box-shadow:0px 0px 0px 1px rgba(155,155,155,0.3);
  height:300px;
  width:100%;
}
section.accordion input:checked ~ article div#map {
  display:block;
}
span.deletion-overstrike {
  text-decoration:line-through;
}
span.restored::before {
  content:"[";
}
span.restored::after {
  content:"]";
}
/* from sarit-app.xsl */
a.call-modal, a.call-modal:visited, a.call-modal:active {
  color:#5493ff;
  text-decoration: none;
  border-bottom: 1px dotted #5493ff;
  padding:0em;
}
a.call-modal:hover {
  color: #5493ff;
  border: none;
}
.app h2, .toc h2 {
  font-size:0.8em;
  padding:0px;
  margin:0px 0px 5px 0px;
}
.app a, .app a:hover, .app a:active, .app a:visited {
  font-weight:bold;
  color:blue;
}
.appentry {
  display:block;
}
.appentry .siglum {
  font-weight:bold;
}
.appentry p {
  display:inline-block;
  text-indent:0px;
}
.modal-inner {
  font-family:sans-serif;
}
p {
  display:block;
}


